# Secret Keys (NEVER upload these!)
.env

# Python junk (Temporary files)
__pycache__/
*.py[cod]

# Virtual Environment (Too big for GitHub)
venv/
env/

# Database (Don't upload your local testing data)
*.db
instance/

# System junk
.DS_Store
Thumbs.db